 .amrg{
     /*border: 1px solid #007bff;*/
     margin: 5px;
     border-radius: 10px;
}

.espacio{
  margin: 20px
}

.cantidad{
  font-size: 8px;
  float: right;
}

.estacion{
  border: 1px solid #aeb3b9;
  margin: 10px;
  border-radius: 10px;
  margin-top: 15px;

}

#estacion{
  margin-top: 15px;
}

.bus{
  height: 145px;
  border: 5px solid red;
  margin: 5px;
  border-radius: 10px;
  margin-top: 15px;
}


.circulo {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background: #004085;
    float: left;
    margin: 2px;
    font-size: 6px;
    color: #fff;
    text-align: center;
    padding-top: 3px;
}


.cuadrado {
     width: 10px;
     height: 10px;
     background: #17a2b8;
     float: left;
     margin: 2px;
     font-size: 6px;
     color: #fff;
     text-align: center;
     padding-top: 3px;
}
.rombo {
     width: 10px;
     height: 10px;
     background: #007bff;
     float: left;
     margin: 2px;
     font-size: 6px;
     color: #fff;
     text-align: center;
     transform: rotate(45deg);
     padding-top: 3px;
}

body{
  background-color: #ccccff;
  margin: 0;
  overflow-y: hidden;
  animation: sky 6s 2s forwards;
}

@keyframes sky {
  50% {background-color: #ffd700;}
  65% {background-color: #ffb90f;}
  85% {background-color: #b39800;}
  100% {background-color: #6B228b;}
}

/*#este {
  width: 100%;
  height: 100vh;
  background-color: red;
  animation-name: example;
  animation-duration: 12s;
  position: absolute;
  opacity: 0.2;
}*/

#sol{
  background-color: #ff8c1a;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 20px 5px #ff8c1a;
  animation: sunset 12s ;
}

@keyframes sunset {
  90% {opacity: 0}
  100% {transform: translateX(600px);}
}

#luna{
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  box-shadow: -20px 10px white;
  position: absolute;
  left: 10%
  top:5%;
  opacity: 0;
  animation: moon 0.8s 7s forwards;
}

@keyframes moon {
  100% {opacity: 1}
}
