 .amrg{
     /*border: 1px solid #007bff;*/
     margin: 5px;
     border-radius: 10px;
}

.espacio{
  margin: 5%;
  /*margin-top: 15%;*/
}

.cantidad{
  font-size: 8px;
  float: right;
}

.estacion{
  border: 1px solid #aeb3b9;
  margin: 10px;
  border-radius: 10px;
  margin-top: 15px;

}

#estacion{
  margin-top: 15px;
}

.bus{
  height: 145px;
  border: 5px solid red;
  margin: 5px;
  border-radius: 10px;
  margin-top: 15px;
}

/*NIÑOS*/
.circulo {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background: #004085;
    float: left;
    margin: 2px;
    font-size: 6px;
    color: #fff;
    text-align: center;
    padding-top: 3px;
}

/*DISCAPACITADOS*/
.cuadrado {
     width: 10px;
     height: 10px;
     background: #17a2b8;
     float: left;
     margin: 2px;
     font-size: 6px;
     color: #fff;
     text-align: center;
     padding-top: 3px;
}
/*ADULTO*/
.rombo {
     width: 10px;
     height: 10px;
     background: #007bff;
     float: left;
     margin: 2px;
     font-size: 6px;
     color: #fff;
     text-align: center;
     transform: rotate(45deg);
     padding-top: 3px;
}

/*body{
  background-color: #6B228b;
  margin: 0;
  overflow-y: hidden;
  animation-name: sky ;
  animation-duration: 50s;
}

@keyframes sky {
  1% {background-color: #ccccff;}
  40% {background-color: #ffd700;}
  60% {background-color: #ffb90f;}
  80% {background-color: #b39800;}
  100% {background-color: #6B228b;}
}

#sol{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;

  animation: sunset 70s ;
  left: 5%;
  top:5%;
}

@keyframes sunset {
  1% { background-color: #ff8c1a;
  box-shadow: 0px 0px 20px 5px #ff8c1a;}
  70%{box-shadow: 0px 0px 20px 5px #f35c0e;}
  80%{box-shadow: 0px 0px 20px 5px #6B228b; }
  100% {transform: translateX(700px);
  opacity: 0;
  }
}

#luna{
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  box-shadow: -20px 10px white;

  left: 5%;
  top:5%;
  opacity: 0;
  animation: moon 1s 60s forwards;
}

@keyframes moon {
  100% {opacity: 1}
}*/
