.mixto, .multi, .amrg{
     border: 1px solid #007bff;
     margin: 10px;
     border-radius: 10px;
}

.circulo {
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #004085;
    float: left;
    margin: 2px;
    font-size: 8px;
    color: #000;
    text-align: center;
}

.circulo2 {
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #007bff;
    float: left;
    margin: 2px;
    font-size: 8px;
    color: #000;
    text-align: center;
}

.cuadrado {
     width: 15px;
     height: 15px;
     background: #17a2b8;
     float: left;
     margin: 2px;
     font-size: 8px;
     color: #000;
     text-align: center;
}
